<div class="container ">

    <div class="logo"><span>filmix</span></div>
    <div class="sub"><span>Encontre o próximo filme que você irá assistir.</span></div>

    <div class="search-select">

        <div id="home-menu-card">

            <div class="home-menu-card-item">

                <span>GÊNERO</span>
                <genres-list></genres-list>


            </div>


            <div class="home-menu-card-item">

                <span>RATING</span>
                <!-- <a class="card-select">Any Score <mat-icon>keyboard_arrow_down</mat-icon></a> -->
                <mat-slider thumbLabel tickInterval="2.5" min="0" max="9.5" step="0.5" [(ngModel)]="sliderValue">
                </mat-slider>
            </div>

            <div class="home-menu-card-item">

                <button mat-button (click)="callDiscover()" id="home-menu-btn">SEARCH</button>

            </div>
        </div>
    </div>
</div>