.container {
  display: flex;
  width: 100%;
  height: 100%;
 

  .menu {
    position: absolute;
    top: 1.3rem;
    right: 2rem;
    display: flex;

        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: #000;
          margin-left: 3rem;
        }
      
  }

  .poster {
    height: 100%;
    width: 40%;
  }

  .info {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10rem;
    background-image: url(../../../assets/img/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-weight: bolder;
      margin-bottom: 2rem;
      width: 80%;
      display: flex;
      align-items: center;
      // -webkit-text-fill-color: transparent;
      // -webkit-text-stroke-width: 1px;
    }


    .sub {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      span,
      a {
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        transition: text-decoration 1s ease 1s;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .director {
      font-size: 2rem;

      margin-bottom: 2rem;

      #director-name {
        font-weight: bold;
      }
    }

    .sinopse {
      margin-bottom: 2rem;
      font-size: 1.3rem;
      width: 80%;
    }

   
  }

  .buttons {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    button {
      margin-left: 1rem;
    }
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3fb53f;
}
